.my-story-container {
    display: flex;
    justify-content: center;
    background-color: #f9f9f9;
    height: 70vh;
  }
  
  .my-story-sub-container {
    display: flex;
    align-items: center;
    width: 100%; /* Full width of the container */
    max-width: 1200px; /* Max width for larger screens */
  }
  
  .my-story-image {
    flex: 1; /* Equal width for the image section */
    padding: 20px; /* Padding for inner content */
  }
  
  .my-story-image img {
    width: 100%; 
    height: 60vh; 
    border-radius: 18px;
    object-fit: contain;
    background-position: center;
    background-repeat: no-repeat;
  }
  
  .my-story-content {
    flex: 1; 
    padding: 10px; 
  }
  
  .my-story-content h2 {
    font-size: 24px;
    color: var(--green-color);
  }
  
  .my-story-content p {
    font-size: 18px;
    color: #555;
    line-height: 1.9;
    font-family: var(--font-lato);
  }

 /* Responsive design for mobile */
@media (max-width: 768px) {
    .my-story-container {
        flex-direction: column; /* Stack elements vertically on mobile */
        height: auto; /* Change height to auto for better responsiveness */
        padding: 10px; /* Reduce padding */
    }

    .my-story-sub-container {
        flex-direction: column; /* Stack image and content vertically */
        align-items: center; /* Center items */
    }

    .my-story-image {
        padding: 10px; /* Reduce padding on mobile */
        width: 100%; /* Full width */
    }

    .my-story-image img {
        height: auto; /* Maintain aspect ratio */
        max-height: 40vh; /* Limit height for mobile */
    }

    .my-story-content {
        padding: 10px; /* Padding for content */
        text-align: center; /* Center text on mobile */
    }

    .my-story-content h2 {
        font-size: 20px; /* Smaller font size for mobile */
    }

    .my-story-content p {
        font-size: 16px; /* Smaller font size for mobile */
    }

    .my-story-early-years {
        flex-direction: column-reverse;
      }
      
      .my-story-career-highlights {
     
      }
      
      .my-story-family-moments {
      
      }
      
      .my-story-travel-adventures {
        flex-direction: column-reverse;
      }
      
      .my-story-hobbies-interests {
        background-color: var(--white); /* White */
      }
      
      .my-story-community-impact {
        flex-direction: column-reverse;
      }
      
}