/* ROOT COLORS */
:root {
  --royal-blue-background: #4169E1; /* Royal Blue */
  --blush-pink: #FFC0CB; /* Blush Pink */
  --gold: #FFD700; /* Gold */
  --silver: #C0C0C0; /* Silver (Ash Grey) */
  --white: #FFFFFF; /* White */
  --light-grey: #D3D3D3; /* Light Grey */
  --lavender: #E6E6FA; /* Lavender */
  --coral: #FF7F50; /* Coral */
}
